/**app.wxss**/
 .container {
     position: fixed; 
    color: white;
    width: 100%;
    height: 100%; 
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 200rpx 0; */
    /* box-sizing: border-box; */
    /* background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%); */
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
}  
